<div>
    <h2>Register</h2>
    <form (submit)="register()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" required>
      </div>
      <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" [(ngModel)]="lastname" required>
      </div>
      <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" [(ngModel)]="age" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
  