   <div class="container">
    <h2>Update Task</h2>
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" [(ngModel)]="updatedTask.title">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="updatedTask.description"></textarea>
      </div>
      <div class="form-group">
        <label for="dueDate">Due Date:</label>
        <input type="date" id="dueDate" name="dueDate" [(ngModel)]="updatedTask.dueDate">
      </div>
      <div class="form-group">
        <label for="owner">Owner:</label>
        <select id="owner" name="owner" [(ngModel)]="updatedTask.selectedOwner">
          <option *ngFor="let user of users" [value]="user.name + ' ' + user.lastname">{{ user.name + ' ' + user.lastname }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="priority">Priority:</label>
        <select id="priority" name="priority" [(ngModel)]="updatedTask.priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" name="status" [(ngModel)]="updatedTask.status">
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select>
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" [(ngModel)]="updatedTask.category">
      </div>
      <button type="button" (click)="updateTask()">Update Task</button>
    </form>
  </div>
  