    <h2>Task List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Category</th>
          <th>attachements</th>
          <th>assigned to</th>
          <th>task creater</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.dueDate }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.category }}</td>
          <div *ngIf="task.attachments">
          <a  [href]="task.attachments" download="file.jpg">Download File></a>></div>
          <div *ngIf="!task.attachments">no attachments</div>
          <td>{{ task.selectedOwner }}</td>
          <td>{{task.creater}}
        <td>
            <ul *ngIf="task.comments.length > 0">
              <li *ngFor=" let comment of task.comments" >
                {{ comment.user }} Commented: {{ comment.text }} : {{ comment.timestamp }}  {{ comment.edited}} 
              </li>
              </ul>
              <p *ngIf="task.comments.length == 0">no comments</p>
        </td>
        <td>
          <div *ngIf="task.createrId == currentuserId">
          <button type="button" class="btn btn-danger" (click)="deletetask(task._id)">Delete Task</button></div>
          <button type="button" class="btn btn-warning" [routerLink]="['/updateTask', task._id]">Update Task</button>
          <button type="button" class="btn btn-info" [routerLink]="['/addcomment', task._id]">Add Comment</button>
          <div *ngFor=" let commentaire of task.comments" >
              <div *ngIf="currentuserId == commentaire.CommenterId" >
                <button type="button" class="btn btn-danger" (click)="deletecomment(task._id,commentaire._id)">Delete Your Comment</button></div></div>
      </tr>
      </tbody>
    </table>  
    <div>
      <button type="button" class="btn btn-primary" (click)="createTask()">Create Task</button>
    </div>